

      <div class="row">
          <div class="col-xl-12 text-center">
            <div class="section-title">
              <h2 style="font-weight:bold;" class="mb-50">Scientific Mechanical partners with well-known manufacturers</h2>
            </div>
          </div>
        </div>
        <div class="row">


            <div class="col-12 text-center">
                <img class="img-fluid" src="assets/img/services/brands.png" alt="List of brands we work with">
                <p class="mt-20"><strong>And many more.</strong></p>
            </div>
        </div>
